<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <div class="w3-container" style="margin-top:75px">

    <h1 class="w3-xxxlarge w3-text-blue"><b>Liste TODOS.</b>
    </h1>

    <div class="col-3">
      <div class="card" style="width: 25rem;">
        <div class="card-body " style="width: 25rem; ">
        <ul *ngFor="let todo of todos" class="card ul">
          <li class="  thicker w3-grey-light w3-xlarge w3-padding-32">

            {{todo.titre | uppercase}}</li>
            <li class="w3-padding-16 ">
              <label class="thicker"> Id :</label>
              {{todo.todo_id }}</li>
          <li class="w3-padding-16 ">
            <label class="thicker"> Statut :</label>
            {{todo.statut }}</li>
          <li class="w3-padding-16">
            <label class="thicker"> Date :</label>
            {{todo.date }}</li>
          <li class="w3-padding-16">
            <label class="thicker"> Description :</label>
            {{todo.description }}</li>

          <button (click)="delete(todo)" class="w3-button w3-red btn btn-primary  w3-hover-black">Delete</button>

          <button (click)="update(todo)" class="w3-button w3-red btn btn-primary  w3-hover-black">Modifier</button>

        </ul>

    </div>
  </div>

  <app-todo-form #addTodo *ngIf="show"></app-todo-form>

