<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <div class="w3-container" style="margin-top:75px">

    <h1 class="w3-xxxlarge w3-text-blue"><b>Modifier.</b></h1>

     <form #editTodo="ngForm" >
      <div class="form-group">
        <label>id : </label> <input type="number" name="id" class="form-control" [(ngModel)]="id">
        <label>titre : </label> <input type="text" name="titre" class="form-control" [(ngModel)]="titre">
        <label>statut : </label> <input type="text" name="statut" class="form-control" [(ngModel)]="statut">
        <label>date : </label> <input type="text" name="date" class="form-control" [(ngModel)]="date">
        <label>description : </label> <input type="text" name="description" class="form-control"
          [(ngModel)]="description">

      </div>
    <button class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" (click)="onSubmit()"> Modifier
        </button>
    </form>
  </div>
</div>
