<div class="container">


  <div class="card shadow ">
    <div class="card-header">
      <h4 class="card-header text-center">Ajouter un TODO</h4>
    </div>

    <div class="card-body">
      <div class="form-group">
        <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
          <input  type="text" name="todo" class="form-control" placeholder="Titre . . ." id="titre" required>

          <input type="text" name="todo" class="form-control" placeholder=" Description . . ." id="titre" required>


          <button type="submit" class="btn btn-primary" (click)="addTodo()"> Ajouter </button>
        </form>

        </div>


      <!-- {{todo}} -->
    </div>
  </div>
  <div>
  </div>
